# dependencies
client/node_modules
server/node_modules
server/.env

# build outputs
client/build
server/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.env.development
.env.production


npm-debug.log*
yarn-debug.log*
yarn-error.log*
