# dependencies
client/node_modules
server/node_modules
server/.env

# build outputs
client/build
server/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.env.development
.env.production


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 微信小程序（weapp）
/weapp/node_modules/
/weapp/miniprogram_npm/
/weapp/project.private.config.json
/weapp/*.log
/weapp/.DS_Store
# /weapp/package-lock.json   # 如需锁定依赖版本，请删除这一行或注释掉