@import '../../App.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.completedContainer {
  padding: 20px;
  text-align: center;
}

.loadingContainer {
  padding: 20px;
  text-align: center;
}

.sectionTitle {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  max-width: 1200px;
  margin: 30px 0 20px 0;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 2px solid #8f8d8d;
  color: #333;
}

.sectionTitle h2 {
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  margin: 30px 0 20px 0;
}

.question {
  width: 100%; /* 或者设置一个固定宽度，如 600px */
  max-width: 1200px; /* 最大宽度限制 */
  margin-bottom: 20px;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 2px solid #bebebe;
}

.radioGroup {
  margin-top: 15px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 4px;
}

.radioLabel {
  display: inline-block;
  margin-right: 15px;
  transition: all 0.3s ease;
  position: relative; /* 为竖线定位做准备 */
  padding-right: 15px; /* 为竖线留出空间 */
}

.radioLabel input[type="radio"] {
  margin-right: 8px; /* 添加右边距，在单选按钮和文本之间创建空间 */
}

.radioLabel:hover {
  color: #8f8d8d;
  transform: translateY(-2px);
  cursor: pointer;
}

/* 为除最后一个选项外的所有选项添加右边框（竖线） */
.radioLabel:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  height: 50%;
  width: 1px;
  background-color: #e0e0e0;
}