/* src/components/Navbar.module.css */

/* body {
  margin: 0;
  margin-top: 0;
  padding-top: 100px;
} */

/* 导航栏基础样式 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 1000;
  margin: 0 0 0px 0;
  padding: 10px 20px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.7); 
  backdrop-filter: blur(10px); 
  border-bottom: 1px solid #ddd;
}

/* 网站标题 */
.navbarTitle {
  font-size: 15px;
  color: black;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: relative;
}


/* 右侧区域 */
.navbarRight {
  display: flex;
  align-items: center;
}

/* 用户信息 */
.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* 用户名样式 - 只修改这部分 */
.username {
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: relative;
}

.username:hover {
  color: #8f8d8d;
  transform: translateY(-2px);
}


/* 基础按钮样式 */
.navBtn {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit; 
}

/* 登录按钮 */
.loginBtn {
  background-color: transparent;
  color: black;
  border: none;
}


/* 注册按钮 */
.registerBtn {
  background-color: transparent;
  color: black;
  border: none;
  margin-left: 10px;
}


/* 退出按钮 */
.logoutBtn {
  background-color: transparent;
  color: black;
  border: none; 
  cursor: pointer;
}


.logoutBtn:hover,
.loginBtn:hover,
.registerBtn:hover {
  color: #8f8d8d;
  transform: translateY(-2px);
}

/* #region 导航栏中间样式 */
/* 课程导航 */
.courseNav {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.courseNav span {
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.courseNav span:hover {
  color: #8f8d8d;
  transform: translateY(-2px);
}
/* #endregion */